.live-demo-container {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  margin-top: 1.2rem;
  width: 100%;
}

.live-editor-title {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color-tertiary);
  font-size: 1rem;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.live-preview {
  padding: 0.6rem;
  border: 1px solid var(--text-color-primary);
  border-radius: var(--border-radius);
  background: var(--code-editor-background);
  color: var(--text-color-primary);
  min-width: 50%;
  width: 50%;
  color: var(--text-color-primary);
  background-color: var(--code-editor-background);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.live-editor {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background: var(--code-editor-background);
  color: var(--text-color-primary);
  font-size: 0.9rem;
  overflow: auto;
  min-width: 50%;
  width: 50%;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.live-error {
  color: red !important;
  font-family: monospace;
  background: var(--primary-color);
  color: var(--text-color-primary);
  padding: 0.6rem;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.live-demo-results-below {
  color: var(---error-color);
}

/* Undo Arrow Styling */
.undo-arrow {
  margin-left: 0.5rem !important;
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-color-primary);
  display: none;
  transition: transform 0.2s ease;
}

.undo-arrow:hover {
  background: var(--button-secondary);
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

@media only screen and (max-width: 768px) {
  .undo-arrow {
    display: block;
  }
  .live-demo-container {
    flex-direction: column;
  }

  .live-preview {
    min-width: 100%;
    width: 100%;
  }

  .live-editor {
    min-width: 100%;
    width: 100%;
  }

  .live-error {
    min-width: 100%;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .undo-arrow {
    font-size: 1rem;
  }
}
