body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo-with-live {
  width: 100%;
}

/* Demo section styling */
.demo-section {
  margin-bottom: 1.2rem;
  border-radius: var(--border-radius);
  width: 100%;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

@media (max-width: 768px) {
  .demo-section {
    padding: 0rem 0.5rem;
  }
  .home-page-heading {
    margin-left: 0.5rem;
  }
}

@media (max-width: 390px) {
  .home-page-heading {
    font-size: 1.3rem;
  }
}
