*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, Arial, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  transition: all ease-in-out 250ms;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color-primary: #242424;
  --background-color-secondary: #212121;
  --background-color-tertiary: #424242;
  --text-color-primary: #ffffffde;
  --button-primary: #424242;
  --button-secondary: #ff9800;
  --button-tertiary: #424242;
  --button-theme-toggle: #424242;
  --error-color: #f44336;
  --code-editor-background: #011627;
  --border-radius: 0.3rem;
  --button-gap: 1rem;
}

:root.light-mode {
  --background-color-primary: #ffffff; /* white background */
  --background-color-secondary: #f5f5f5; /* very light gray */
  --background-color-tertiary: #e0e0e0; /* light gray */
  --text-color-primary: #333333; /* dark text */
  --button-primary: #e0e0e0; /* light gray button background */
  --button-secondary: #ff9800; /* accent color */
  --button-tertiary: #e0e0e0;
  --button-theme-toggle: #777777;
  --error-color: #f44336;
  --code-editor-background: #0060ae;
}

.prism-code {
  font-size: 1rem !important;
  color: var(--text-color-primary) !important;
  background-color: var(--code-editor-background) !important;
}

@media (max-width: 768px) {
  :root {
    font-size: 1rem;
  }

  .prism-code {
    font-size: 1rem !important;
  }
} /* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For Internet Explorer/Edge */
body {
  -ms-overflow-style: none;
}
